<!DOCTYPE html>
<html lang="en">
<head>
  
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="author" content="LibreNMS">
    <link rel="canonical" href="https://www.librenms.org/docs/Extensions/Component/">
    <link rel="shortcut icon" href="../../img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>About - LibreNMS Docs</title>
    <link href="../../css/bootstrap-3.3.7.min.css" rel="stylesheet">
    <link href="../../css/font-awesome-4.7.0.css" rel="stylesheet">
    <link href="../../css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/highlight.css">
    <link href="../../librenms.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap-3.3.7.min.js"></script>
    <script src="../../js/highlight.pack.js"></script>
    
    <base target="_top">
    <script>
      var base_url = '../..';
      var is_top_frame = false;
        
        var pageToc = [
          {title: "About", url: "#about", children: [
          ]},
          {title: "Database Structure", url: "#database-structure", children: [
              {title: "Reserved Fields", url: "#reserved-fields" },
          ]},
          {title: "Using Components", url: "#using-components", children: [
              {title: "Retrieving Components", url: "#retrieving-components" },
              {title: "Creating Components", url: "#creating-components" },
              {title: "Deleting Components", url: "#deleting-components" },
              {title: "Editing Components", url: "#editing-components" },
              {title: "API", url: "#api" },
              {title: "Alerting", url: "#alerting" },
          ]},
          {title: "Example Code", url: "#example-code", children: [
          ]},
        ];

    </script>
    <script src="../../js/base.js"></script>
      <script src="../../search/main.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-79149977-2', 'docs.librenms.org');
        ga('send', 'pageview');
    </script> 
</head>

<body>
<script>
if (is_top_frame) { $('body').addClass('wm-top-page'); }
</script>



<div class="container-fluid wm-page-content">
    
      <div class="source-links">
      
          <span class="label label-primary"><a href="https://github.com/librenms/librenms//edit/master/doc/Extensions/Component.md" target="_blank" style="color:#ffffff"><i class="fa fa-pencil"></i> Edit on GitHub</a></span>
      
      </div>
    

    <h1 id="about">About</h1>
<p>The Component extension provides a generic database storage mechanism for discovery and poller modules.
The Driver behind this extension was to provide the features of ports, in a generic manner to discovery/poller modules.</p>
<p>It provides a status (Nagios convention), the ability to Disable (do not poll), or Ignore (do not Alert).</p>
<h1 id="database-structure">Database Structure</h1>
<p>The database structure contains the component table:</p>
<pre><code class="SQL">mysql&gt; select * from component limit 1;
+----+-----------+------+------------+--------+----------+--------+-------+
| id | device_id | type | label      | status | disabled | ignore | error |
+----+-----------+------+------------+--------+----------+--------+-------+
|  9 |         1 | TEST | TEST LABEL |      0 |        1 |      1 |       |
+----+-----------+------+------------+--------+----------+--------+-------+
1 row in set (0.00 sec)
</code></pre>

<p>These fields are described below:</p>
<ul>
<li><code>id</code> - ID for each component, unique index</li>
<li><code>device_id</code> - device_id from the devices table</li>
<li><code>type</code> - name from the component_type table</li>
<li><code>label</code> - Display label for the component</li>
<li><code>status</code> - The status of the component, retrieved from the device</li>
<li><code>disabled</code> - Should this component be polled?</li>
<li><code>ignore</code> - Should this component be alerted on</li>
<li><code>error</code> - Error message if in Alert state</li>
</ul>
<p>The component_prefs table holds custom data in an Attribute/Value format:</p>
<pre><code class="sql">mysql&gt; select * from component_prefs limit 1;
+----+-----------+-----------+-----------+
| id | component | attribute | value     |
+----+-----------+-----------+-----------+
|  4 |         9 | TEST_ATTR | TEST_ATTR |
+----+-----------+-----------+-----------+
2 rows in set (0.00 sec)
</code></pre>

<h2 id="reserved-fields">Reserved Fields</h2>
<p>When this data from both the <code>component</code> and <code>component_prefs</code> tables is returned in one single consolidated array, there is the potential for someone to attempt to set an attribute (in the <code>component_prefs</code>) table that is used in the <code>component</code> table.
Because of this all fields of the <code>component</code> table are reserved, they cannot be used as custom attributes, if you update these the module will attempt to write them to the <code>component</code> table, not the <code>component_prefs</code> table.</p>
<h1 id="using-components">Using Components</h1>
<p>Create an instance of the component class:</p>
<pre><code class="php">$COMPONENT = new LibreNMS\Component();
</code></pre>

<h2 id="retrieving-components">Retrieving Components</h2>
<p>Now you can retrieve an array of the available components:</p>
<pre><code class="php">$ARRAY = $COMPONENT-&gt;getComponents($DEVICE_ID, $OPTIONS);
</code></pre>

<p><code>getComponents</code> takes 2 arguments:</p>
<ul>
<li><code>DEVICE_ID</code> or null for all devices.</li>
<li><code>OPTIONS</code> - an array of various options.</li>
</ul>
<p><code>getComponents</code> will return an array containing components in the following format:</p>
<pre><code class="php">Array
(
    [X] =&gt; Array
    (
        [Y1] =&gt; Array
        (
            [device_id] =&gt; 1
            [TEST_ATTR] =&gt; TEST_ATTR
            [type] =&gt; TEST
            [label] =&gt; TEST LABEL
            [status] =&gt; 0
            [ignore] =&gt; 1
            [disabled] =&gt; 1
            [error] =&gt;
        ),
        [Y2] =&gt; Array
        (
            [device_id] =&gt; 1
            [TEST_ATTR] =&gt; TEST_ATTR
            [type] =&gt; TESTING
            [label] =&gt; TEST LABEL
            [status] =&gt; 0
            [ignore] =&gt; 1
            [disabled] =&gt; 0
            [error] =&gt;
        ),
    )
)
</code></pre>

<p>Where X is the Device ID and Y1/Y2 is the Component ID. In the example above, <code>TEST_ATTR</code> is a custom field, the rest are reserved fields.</p>
<h3 id="options">Options</h3>
<p>Options can be supplied to <code>getComponents</code> to influence which and how components are returned.</p>
<h4 id="filtering">Filtering</h4>
<p>You can filter on any of the <a href="#reserved">reserved</a> fields. Filters are created in the following format:</p>
<pre><code class="php">$options['filter']['FIELD'] = array ('OPERATOR', 'CRITERIA');
</code></pre>

<p>Where:</p>
<ul>
<li><code>FIELD</code> - The <a href="#reserved">reserved</a> field to filter on</li>
<li><code>OPERATOR</code> - 'LIKE' or '=', are we checking if the FIELD equals or contains the CRITERIA.</li>
<li><code>CRITERIA</code> - The criteria to search on</li>
</ul>
<p>There are 2 filtering shortcuts:</p>
<p><code>$DEVICE_ID</code> is a synonym for:</p>
<pre><code class="php">$OPTIONS['filter']['device_id'] = array ('=', $DEVICE_ID);
</code></pre>

<p><code>$OPTIONS['type'] = $TYPE</code> is a synonym for:</p>
<pre><code class="php">$OPTIONS['filter']['type'] = array ('=', $TYPE);
</code></pre>

<h4 id="sorting">Sorting</h4>
<p>You can sort the records that are returned by specifying the following option:</p>
<pre><code class="php">$OPTIONS['sort'][FIELD] = 'DIRECTION';
</code></pre>

<p>Where Direction is one of:</p>
<ul>
<li><code>ASC</code> - Ascending, from Low to High</li>
<li><code>DESC</code> - Descending, from High to Low</li>
</ul>
<h2 id="creating-components">Creating Components</h2>
<p>To create a new component, run the <code>createComponent</code> function.</p>
<pre><code class="php">$ARRAY = $COMPONENT-&gt;createComponent($DEVICE_ID, $TYPE);
</code></pre>

<p><code>createComponent</code> takes 2 arguments:</p>
<ul>
<li><code>DEVICE_ID</code> - The ID of the device to attach the component to.</li>
<li><code>TYPE</code> - The unique type for your module.</li>
</ul>
<p>This will return a new, empty array with a component ID and Type set, all other fields will be set to defaults.</p>
<pre><code class="php">Array
(
    [1] =&gt; Array
    (
        [type] =&gt; TESTING
        [label] =&gt;
        [status] =&gt; 1
        [ignore] =&gt; 0
        [disabled] =&gt; 0
        [error] =&gt;
    )
)
</code></pre>

<h2 id="deleting-components">Deleting Components</h2>
<p>When a component is no longer needed, it can be deleted.</p>
<pre><code class="php">$COMPONENT-&gt;deleteComponent($COMPONENT_ID)
</code></pre>

<p>This will return <code>True</code> on success or <code>False</code> on failure.</p>
<h2 id="editing-components">Editing Components</h2>
<p>To edit a component, the procedure is:</p>
<ol>
<li><a href="#get">Get the Current Components</a></li>
<li><a href="#update-edit">Edit the array</a></li>
<li><a href="#update-write">Write the components</a></li>
</ol>
<h3 id="edit-the-array">Edit the Array</h3>
<p>Once you have a component array from <code>getComponents</code> the first thing to do is extract the components for only the single device you are editing. This is required because the <code>setComponentPrefs</code> function only saves a single device at a time.</p>
<pre><code class="php">$ARRAY = $COMPONENT-&gt;getComponents($DEVICE_ID, $OPTIONS);
$ARRAY = $ARRAY[$DEVICE_ID];
</code></pre>

<p>Then simply edit this array to suit your needs.
If you need to add a new Attribute/Value pair you can:</p>
<pre><code class="php">$ARRAY[COMPONENT_ID]['New Attribute'] = &quot;Value&quot;;
</code></pre>

<p>If you need to delete a previously set Attribute/Value pair you can:</p>
<pre><code class="php">unset($ARRAY[COMPONENT_ID]['New Attribute']);
</code></pre>

<p>If you need to edit a previously set Attribute/Value pair you can:</p>
<pre><code class="php">$ARRAY[COMPONENT_ID]['Existing Attribute'] = &quot;New Value&quot;;
</code></pre>

<h3 id="write-the-components">Write the components</h3>
<p>To write component changes back to the database simply:</p>
<pre><code class="php">$COMPONENT-&gt;setComponentPrefs($DEVICE_ID, $ARRAY)
</code></pre>

<p>When writing the component array there are several caveats to be aware of, these are:</p>
<ul>
<li><code>$ARRAY</code> must be in the format of a single device ID - <code>$ARRAY[$COMPONENT_ID][Attribute] = 'Value';</code> NOT in the multi device format returned by <code>getComponents</code> - <code>$ARRAY[$DEVICE_ID][$COMPONENT_ID][Attribute] = 'Value';</code></li>
<li>You cannot edit the Component ID or the Device ID</li>
<li><a href="#reserved">reserved</a> fields can not be removed</li>
<li>if a change is found an entry will be written to the eventlog.</li>
</ul>
<h2 id="api">API</h2>
<p>Component details are available via the API.
Please see the <a href="/API/#function-get_components">API-Docs</a> for details.</p>
<h2 id="alerting">Alerting</h2>
<p>It is intended that discovery/poller modules will detect the status of a component during the polling cycle.
Status is logged using the Nagios convention for status codes, where:
    0 = Ok,
    1 = Warning,
    2 = Critical</p>
<p>If you are creating a poller module which can detect a fault condition simply set STATUS to something other than 0 and ERROR to a message that indicates the problem.</p>
<p>To actually raise an alert, the user will need to create an alert rule. To assist with this several Alerting Macro's have been created:</p>
<ul>
<li><code>%macro.component_normal</code> - A component that is not disabled or ignored and in a Normal state.</li>
<li><code>%macro.component_warning</code> - A component that is not disabled or ignored and NOT in a Warning state.</li>
<li><code>%macro.component_critical</code> - A component that is not disabled or ignored and NOT in a Critical state.</li>
</ul>
<p>To raise alerts for components, the following rules could be created:</p>
<ul>
<li><code>%macros.component_critical = "1"</code> - To alert on all Critical components</li>
<li><code>%macros.component_critical = "1" &amp;&amp; %component.type = "&lt;Type of Component&gt;"</code> - To alert on all Critical components of a particular type.</li>
</ul>
<p>If there is a particular component you would like excluded from alerting, simply set the ignore field to 1.</p>
<p>The data that is written to each alert when it is raised is in the following format:</p>
<p><code>COMPONENT_TYPE - LABEL - ERROR</code></p>
<h1 id="example-code">Example Code</h1>
<p>To see an example of how the component module can used, please see the following modules:</p>
<ul>
<li>Cisco CBQoS<ul>
<li><code>includes/discovery/cisco-cbqos.inc.php</code></li>
<li><code>includes/polling/cisco-cbqos.inc.php</code></li>
<li><code>html/includes/graphs/device/cbqos_traffic.inc.php</code></li>
</ul>
</li>
<li>Cisco OTV<ul>
<li><code>includes/discovery/cisco-otv.inc.php</code></li>
<li><code>includes/polling/cisco-otv.inc.php</code></li>
<li><code>html/includes/graphs/device/cisco-otv-mac.inc.php</code></li>
<li><code>html/pages/routing/cisco-otv.inc.php</code></li>
</ul>
</li>
</ul>

  <br>
    

  <div class="row wm-article-nav-buttons" role="navigation" aria-label="navigation">
    
    <div class="wm-article-nav pull-right">
      <a href="Extensions/MIB-based-polling/" class="btn btn-xs btn-default pull-right">
        Next
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
      <a href="Extensions/MIB-based-polling/" class="btn btn-xs btn-link">
        Mib Based Polling (ALPHA)
      </a>
    </div>
    
    <div class="wm-article-nav">
      <a href="Developing/Licensing/" class="btn btn-xs btn-default pull-left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        Previous</a><a href="Developing/Licensing/" class="btn btn-xs btn-link">
        Licensing
      </a>
    </div>
    
  </div>


    <br>
</div>

<footer class="col-md-12 wm-page-content">
  <p>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a> using <a href="https://github.com/gristlabs/mkdocs-windmill">Windmill</a> theme by Grist Labs.</p>
</footer>

</body>
</html>